@page "/battle-wordle"
@using Models.BattleWordle
@using BlazorGames.Components.BattleWordle

<PageTitle>Stockholm Games: Battle Wordle</PageTitle>

<link rel="stylesheet" href="css/battle-wordle.css" />
<link rel="stylesheet" href="css/instructions.css" />

@if (ShowInstructions)
{
	<InstructionsView OnClickEventCallback="ToggleInstructions" />
}
else
{
	<div class="top-row px-4">
		<div class="d-grid d-md-flex justify-content-md-end">
			<button class="btn btn-link @(CurrentGamePhase == GamePhase.WordSelection ? "d-none" : "")" @onclick="() => EndGame()">Restart</button>
			<button class="btn btn-link" @onclick="() => ToggleInstructions()">How to play</button>
		</div>
	</div>

	@if (CurrentGamePhase == GamePhase.WordSelection)
	{
		<WordSelectionView AnswerWord="@AnswerWord" />
	}

	@if (CurrentGamePhase == GamePhase.Guessing || CurrentGamePhase == GamePhase.GameOver)
	{
		<WordGuessingView AnswerWord="@AnswerWord" GuessWord="@GuessWord" MaxGuesses="@MaxGuesses" GuessResults="@GuessResults" />
	}

	@if (CurrentGamePhase == GamePhase.GameOver && !GuessResults.Last().IsCorrect())
	{
		<AnswerRevealView AnswerWord="@AnswerWord" />
	}

	@if (CurrentGamePhase != GamePhase.GameOver)
	{
		<KeyboardView GuessResults="@GuessResults" KeyClickEventCallback="OnKeyboardLetterClicked" ClearEventCallback="HandleClearClick" SubmitEventCallback="HandleSubmitClick" />
	}

	@if (CurrentGamePhase == GamePhase.GameOver)
	{
		<div class="text-center justify-content-center">
			<button class="btn btn-lg btn-outline-primary" @onclick="() => EndGame()">Play Again</button>
		</div>
	}
}