@page "/battle-wordle"
@using Models.BattleWordle
@using BlazorGames.Components.BattleWordle

<PageTitle>Stockholm Games: Battle Wordle</PageTitle>

<link rel="stylesheet" href="css/battle-wordle.css" />

<h3>Player 1, please enter a word:</h3>

@if (CurrentGamePhase == GamePhase.WordSelection)
{
	<WordSelectionView AnswerWord="@AnswerWord" />
}

@if (CurrentGamePhase == GamePhase.Guessing || CurrentGamePhase == GamePhase.GameOver)
{
	<WordGuessingView AnswerWord="@AnswerWord" GuessWord="@GuessWord" MaxGuesses="@MaxGuesses" GuessResults="@GuessResults" />
}

<KeyboardView GuessResults="@GuessResults" KeyClickEventCallback="OnKeyboardLetterClicked" SubmitEventCallback="HandleSubmitClick" />