@page "/roygbiv"
@using Models.Roygbiv
@using BlazorGames.Components.Roygbiv

<PageTitle>ROYGBIV</PageTitle>

@if (!GameInProgress)
{
	<PlayerSelectionView OnClickEventCallback="(numPlayers) => StartGame(numPlayers)" />
}
else
{
	<div class="row">
		<DrawPileView DrawPileTopCard="@DrawPileTopCard" DrawPileIsRevealed="@DrawPileIsRevealed" OnClickEventCallback="() => RevealDrawPile()" />
		<DiscardPileView DiscardPileTopCard="@DiscardPileTopCard" DiscardPileIsSelected="@DiscardPileIsSelected" OnClickEventCallback="() => SelectDiscardPile()" />
	</div>

	@foreach (Player player in Players)
	{
		<h2>@player.Name @(player == ActivePlayer ? "(active)" : "")</h2>
		<div class="row">
			@foreach (Card card in player.Hand.Cards)
			{
				<NumberCardView Card=@card IsSelected=false OnClick="() => HandleHandCardClick(player, card)" />
			}
		</div>
	}
}