@page "/roygbiv"
@using Models.Roygbiv
@using BlazorGames.Components.Roygbiv

<PageTitle>ROYGBIV</PageTitle>

<h1>ROYGBIV</h1>

@if (GameInProgress)
{
	<button class="btn btn-secondary mb-4 disabled">Game in progress</button>
}
else
{
	<button class="btn btn-primary mb-4" @onclick="DealCards">Deal cards</button>
}


<div class="row">
	<DrawPileView DrawPileTopCard="@DrawPileTopCard"
				  DrawPileIsRevealed="@DrawPileIsRevealed"
				  OnClickEventCallback="() => RevealDrawPile()" />

	<DiscardPileView DiscardPileTopCard="@DiscardPileTopCard"
					 DiscardPileIsSelected="@DiscardPileIsSelected" />
</div>

@foreach (Player player in Players)
{
	<h2>@player.Name @(player == ActivePlayer ? "(active)" : "")</h2>
	<div class="row">
		@foreach (Card card in player.Hand.Cards)
		{
			<NumberCardView Card=@card IsSelected=false OnClick="() => HandleHandCardClick(player, card)" />
		}
	</div>
}
