@using BlazorGames.Models.Roygbiv

<div class="text-center">
	<h3 class="mt-4">How to play ROYGBIV</h3>
	<div class="mb-5">
		<p class="mb-4">Inspired by a fun little game from <a href="https://cronesandwich.substack.com/p/a-gorgeous-homemade-game">Catherine Newman's substack</a>.</p>
		<h5>Rules</h5>
		<p>Initial swap: Each player swaps two cards in their hand.</p>
		<p>Each turn: Draw a new card and place it in your hand.</p>
		<p>You can draw from the draw pile or the discard pile.</p>
		<p>When all of your cards are in ascending order you win!</p>
	</div>
	<h5>A hand in progress</h5>
	<div class="row justify-content-center player-container mb-4">
		<NumberCardView Card="@(new Card(35))" />
		<NumberCardView Card="@(new Card(20))" />
		<NumberCardView Card="@(new Card(1))" />
		<NumberCardView Card="@(new Card(45))" />
		<NumberCardView Card="@(new Card(15))" />
	</div>
	<h5>A winning hand</h5>
	<div class="row justify-content-center player-container mb-4">
		<NumberCardView Card="@(new Card(2))" />
		<NumberCardView Card="@(new Card(10))" />
		<NumberCardView Card="@(new Card(22))" />
		<NumberCardView Card="@(new Card(38))" />
		<NumberCardView Card="@(new Card(60))" />
	</div>
	<div class="text-center justify-content-center">
		<button class="btn btn-lg btn-outline-primary" @onclick="@OnClickEventCallback">Play</button>
	</div>
</div>


@code {
	[Parameter] public EventCallback OnClickEventCallback { get; set; }
}
