@using BlazorGames.Models.Roygbiv
<small>HOW TO PLAY ROYGBIV</small>
<p>Goal: Sort your cards in ascending order.</p>
<ol>
    <li>Initial swap: Each player gets to swap two cards in their hand.</li>
    <li>Draw a new card.</li>
    <li>Place it in your hand.</li>
    <li>When all of your cards are in ascending order you win!</li>
</ol>
<small>EXAMPLE HAND IN PROGRESS</small>
<div class="row justify-content-center">
    <NumberCardView Card="@(new Card(35))" />
    <NumberCardView Card="@(new Card(20))" />
    <NumberCardView Card="@(new Card(1))" />
    <NumberCardView Card="@(new Card(45))" />
    <NumberCardView Card="@(new Card(15))" />
</div>
<small>EXAMPLE WINNING HAND</small>
<div class="row justify-content-center">
    <NumberCardView Card="@(new Card(2))" />
    <NumberCardView Card="@(new Card(10))" />
    <NumberCardView Card="@(new Card(22))" />
    <NumberCardView Card="@(new Card(38))" />
    <NumberCardView Card="@(new Card(60))" />
</div>
<p>Get your cards in order to claim victory and ROYGBIV!</p>
<div class="d-grid gap-2">
    <button class="btn btn-outline-primary" @onclick="@OnClickEventCallback">Play</button>
</div>


@code {
	[Parameter] public EventCallback OnClickEventCallback { get; set; }
}
